.DS_Store
Thumbs.db
desktop.ini
assets/pandoc-media/
node_modules/
site/
docs/favicon-64.png
assets/favicon-64.png

# Pandoc / LaTeX pagalbiniai (jei naudojate pdflatex)
*.aux
*.log
*.out
*.toc
*.synctex.gz
